$rosewater: #f5e0dc;
$flamingo:  #f2cdcd;
$pink:      #f5c2e7;
$mauve:     #cba6f7;
$red:       #f38ba8;
$maroon:    #eba0ac;
$peach:     #fab387;
$yellow:    #f9e2af;
$green:     #a6e3a1;
$teal:      #94e2d5;
$sky:       #89dceb;
$sapphire:  #74c7ec;
$blue:      #89b4fa;
$lavender:  #b4befe;
$text:      #cdd6f4;
$subtext1:  #bac2de;
$subtext0:  #a6adc8;
$overlay2:  #9399b2;
$overlay1:  #7f849c;
$overlay0:  #6c7086;
$surface2:  #585b70;
$surface1:  #45475a;
$surface0:  #313244;
$base:      #1e1e2e;
$mantle:    #181825;
$crust:     #11111b;

window {
    font-family: "Hack";
}

.bar {
    padding: 0px;
    margin: 0px;
}

.bar-left {
    padding-left: 8px;
}

.bar-right {
    padding-right: 8px;
}

box.bar-notes {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
}

.bar-notes {
    background-color: $mauve;
    color: $mantle;

    &--empty {
        @extend .bar-notes;
        color: $text;
        background-color: $mantle;
    }
}

button {
    background-color: transparent;
}

levelbar block,
highlight {
    min-height: 2px;
}

/***/

window.notification-popups box.notifications window.system-menu {
    padding: .5em;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    margin: 5px;
    color: $text;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 4px solid $mauve;
    background-color: $mantle;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: $text;
    font-size: 1.4em;
}

.body {
    color: $text;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}

.sys-menu-item {
    &--selected {
        @extend .sys-menu-item;
        background-color: $mauve;
        color: $mantle;
    }
}

icon.sys-menu-item:hover button.sys-menu-item:hover label.sys-menu-item:hover {
    background-color: $mauve;
    color: $mantle;
}

.sys-menu-item:hover {
    background-color: $mauve;
    color: $mantle;
}

.system-menu {
    min-width: 350px;
    border-radius: 11px 0px 11px 11px;
    padding: 1em;
    margin: .5em;
    border: 2px solid $mauve;
    background-color: $mantle;
}

.indicator{
    background-color: $lavender;
    color: $mantle;
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.test {
    background-color: $pink;
}

