layout {
    gaps 4
    center-focused-column "on-overflow"
    always-center-single-column

    preset-column-widths {
        proportion 0.5
        proportion 0.25
        proportion 0.33333
        proportion 0.66667
        proportion 0.75
        proportion 1.0
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        width 2
        active-color "#bd93f9"
        inactive-color "#6272a4"
        // active-gradient from="#f5c2e7" to="#89b4fa" angle=90 relative-to="workspace-view"
        // inactive-gradient from="#cdd6f4" to="#181825" angle=90 relative-to="workspace-view"
    }

    struts {
        left -4
        right -4
        bottom -4
        top -4
    }

    background-color "transparent"
}

spawn-at-startup "~/.config/niri/waybar.sh"
spawn-at-startup "~/.config/niri/bar.sh"
spawn-at-startup "~/.config/niri/background.sh"
spawn-at-startup "~/.config/niri/swayidle.sh"
spawn-at-startup "/usr/libexec/xdg-desktop-portal-gtk"
spawn-at-startup "/usr/libexec/xdg-desktop-portal-gnome"
spawn-at-startup "/usr/libexec/xdg-desktop-portal-kde"
spawn-at-startup "/usr/libexec/kf6/polkit-kde-authentication-agent-1"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "color-scheme" "'prefer-dark'"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "gtk-theme" "'Dracula'"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "icon-theme" "'Adwaita'"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-theme" "'breeze_cursors'"
spawn-at-startup "blueman-applet"
spawn-at-startup "nm-applet"
spawn-at-startup "mako"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // off
    // slowdown 3.0
}

window-rule {
    geometry-corner-radius 3
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^xdg-desktop-portal-gnome$"#
    match title=r#"^All Files$"#
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id=r#"^Firefox$"#
    match title=r#"^Enter name of file to save to"#
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id=r#"^google-chrome$"#
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id=r#"^org.mozilla.firefox$"#
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id=r#"^thunar$"#
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id=r#"^virt-manager$"#
    exclude title=r#"^Virtual Machine Manager"#
    default-column-width { proportion 1.0; }
}

window-rule {
    match app-id=r#"^Alacritty$"#
    default-column-width { proportion 0.5; }
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return { spawn "~/.config/sway/terminal.sh"; }
    Mod+Shift+Return { spawn "~/.config/sway/terminal.sh" "--vanilla"; }
    Mod+Ctrl+Return { spawn "~/.config/sway/terminal.sh" "--light"; }
    Mod+Space { spawn "fuzzel"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "5%+"; }

    Mod+Shift+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+F { maximize-column; }
    Mod+Q { set-column-width "25%"; }
    Mod+W { set-column-width "50%"; }

    Mod+Alt+1 { set-column-width "25%"; }
    Mod+Alt+2 { set-column-width "33.333%"; }
    Mod+Alt+3 { set-column-width "50%"; }
    Mod+Alt+4 { set-column-width "66.667%"; }
    Mod+Alt+5 { set-column-width "75%"; }
    Mod+Alt+6 { maximize-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }
    Ctrl+Alt+Q { set-column-width "25%"; }
    Ctrl+Alt+H { set-column-width "50%"; }

    Mod+Minus { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }

    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }

    Mod+Ctrl+Space { switch-layout "prev"; }

    Print { screenshot; }
    Mod+P { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { spawn "~/.config/locker/menu.sh"; }

    Mod+Shift+V { spawn "~/.config/virt-helper/launch-vm.sh"; }
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24
}

hotkey-overlay {
    skip-at-startup
}

environment {
    QT_QPA_PLATFORMTHEME "kde"
}
input {
    keyboard {
        xkb {
            layout "us(colemak),us"
            options "caps:escape_shifted_capslock,lv3:menu_switch,lv3:ralt_alt"
        }
    }

    touchpad {
        dwt
        natural-scroll
        click-method "clickfinger"
        // tap
        // dwtp
        // accel-speed 0.2
        // accel-profile "flat"
    }

    mouse {
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
    }

    // warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-1" {
    scale 1.0
    transform "normal"
    position x=0 y=0
}

output "DP-1" {
    scale 2.0
    transform "normal"
    position x=1920 y=0
}

output "DP-2" {
    scale 2.0
    transform "normal"
    position x=2160 y=0
}

output "DP-3" {
    scale 2.0
    transform "normal"
    position x=2160 y=0
}

layer-rule {
    match namespace="^background$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^waybar$"
    place-within-backdrop true
}

overview {
    backdrop-color "#282a36"
    zoom 0.75
}

gestures {
    hot-corners {
        off
    }
}
